@import "tailwindcss";



@theme {
  --color-primary: #e9631a;
  --color-secondary: #5E223E;
  --color-foreground: hsl(240 10% 3.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.content-editable-placeholder[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
