@import "tailwindcss";


body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.content-editable-placeholder[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
